@model PaiAirlines.Models.Flight

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Flight</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="FlightNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FlightNumber" class="form-control" />
                <span asp-validation-for="FlightNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OriginId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select name="OriginId" asp-for="OriginId" class="form-control">
                    @{
                        List<City> lstCityOrig = (List<City>)ViewData["Citylist"];
                        foreach (var cItem in lstCityOrig)
                        {
                            <option value=@cItem.ID>@cItem.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="OriginId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinationId" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select name="DestinationId" asp-for="DestinationId" class="form-control">
                        @{
                            List<City> lstCityDest = (List<City>)ViewData["Citylist"];
                            foreach (var cItem in lstCityDest)
                            {
                                <option value=@cItem.ID>@cItem.Name</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="DestinationId" class="text-danger"></span>
                </div>
            </div>
                <div class="form-group">
                    <label asp-for="Time" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Time" type="datetime-local" class="form-control" />
                        <span asp-validation-for="Time" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Seats" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Seats" min="0" max="100000" step="1" class="form-control" />
                        <span asp-validation-for="Seats" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

