@{
    ViewData["Title"] = "About";
}

<center>
    <h1>Made with Love by Dor Nissan and Kim Boren</h1>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="784" height="441" src="https://www.youtube.com/embed/eHvSmwC-UQI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</center>


<div id="background-slideshow">
    <img id="home-image" class="slides" src="https://images.unsplash.com/photo-1513182477199-42d8ca63f4b0?" />
    <img id="shop-image" class="slides" src="https://images.unsplash.com/photo-1466691623998-d607fab1ca29" />
    <img id="dine-image" class="slides" src="https://images.unsplash.com/photo-1503365113766-4a362681eac5?" />
    <img id="watch-image" class="slides" src="https://images.unsplash.com/photo-1530521954074-e64f6810b32d?" />
</div>
