
@{
    ViewData["Title"] = "NoAccess";
}

<h2>NoAccess</h2>

<p>You don't have the sufficient access right to enter this page</p>

<img src="https://www.armytimes.com/resizer/dpod0z1kyoFFIPUCEnOLebqKqwE=/1200x0/filters:quality(100)/arc-anglerfish-arc2-prod-mco.s3.amazonaws.com/public/ETEFDYSLFVAE3FVM3OG6MWQQVY.jpg" height="25%" />

