
@{
    ViewData["Title"] = "View";
}

<h2>this page is only for admins</h2>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js" charset="utf-8"></script >


<canvas id="myChart" width="400" height="400"></canvas>
@{ 
    List<City> Cities = (List<City>)ViewData["Cities"];
    List<string> CityName = new List<string>();
    Cities.ForEach(ct => CityName.Add(ct.Name));
    string[] arrNames = CityName.ToArray();
    Object FlightBooking = ViewData["FlightBooking"];
    string arr = "[";
    foreach (string item in arrNames)
    {
        arr += item + ", "
    }



}
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            //labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            labels: @arrNames
                datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>










@*<script src="https://www.jasondavies.com/wordcloud/cloud.min.js" charset="utf-8"></script>
<script>
    //var d3 = require("d3"),
    //import cloud from ("./d3.layout.cloud");

    var layout = cloud()
        .size([500, 500])
        .words([
            "Hello", "world", "normally", "you", "want", "more", "words",
            "than", "this"].map(function (d) {
                return { text: d, size: 10 + Math.random() * 90, test: "haha" };
            }))
        .padding(5)
        .rotate(function () { return ~~(Math.random() * 2) * 90; })
        .font("Impact")
        .fontSize(function (d) { return d.size; })
        .on("end", draw);

    layout.start();

    function draw(words) {
        d3.select("body").append("svg")
            .attr("width", layout.size()[0])
            .attr("height", layout.size()[1])
            .append("g")
            .attr("transform", "translate(" + layout.size()[0] / 2 + "," + layout.size()[1] / 2 + ")")
            .selectAll("text")
            .data(words)
            .enter().append("text")
            .style("font-size", function (d) { return d.size + "px"; })
            .style("font-family", "Impact")
            .attr("text-anchor", "middle")
            .attr("transform", function (d) {
                return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function (d) { return d.text; });
    }
</script>*@