@model PaiAirlines.Models.Airport

@{
    ViewData["Title"] = "Map";
}

<h2>Map</h2>

<div>
    <h4>Airport</h4>

    <img src="https://dev.virtualearth.net/REST/v1/Imagery/Map/Aerial/32.109333,34.855499/15?mapSize=9000,9000&pp=32.109333,34.855499&key=An1CK1H4UGFk1_HFAL7g9EfE7E8iTjzNN2hikZl8yzFpNpDNvNYufpC_IvHhyTIp"

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
